@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.folder {
    position: relative;
    padding-top: 2rem;
  }
  
  .folder-icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
  }